.most-visited {
  background: var(--blue-gradient);
}

.most-visited__title {
  font-weight: 300;
  padding: 1.5em 0 2em 0;
  text-transform: uppercase;
}

.most-visited__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0 1em 1.5em 1em;
  justify-content: center;
}

.most-visited__list-item {
  font-size: 0.875em;
  font-weight: 700;
  padding: 1em 1.5em;
  background: var(--orange-color);
}

.most-visited__list-item__link {
  text-decoration: none;
  color: var(--header-color);
}

@media screen and (min-width: 1024px) {
  .most-visited__title {
    font-size: 1.5em;
  }
  
  .most-visited__list {
    width: 75%;
    margin: auto;
  }

  .most-visited__list-item {
    padding: 1.5em 2em;
  }
}

@media screen and (min-width: 1728px) {
  .most-visited {
    padding: 2em 0;
  }

  .most-visited__title {
    font-size: 2em;
    padding: 1em;
  }
  
  .most-visited__list {
    width: 50%;
  }

  .most-visited__list-item {
    font-size: 1.5em;
    padding: 1.5em 2em;
  }
}