.section__title {
  font-weight: 700;
  font-size: 1.125em;
  color: var(--orange-color);
  background-color: var(--header-color);
  text-align: center;
  text-transform: uppercase;
  padding: 1em 0 0.5em 0;
}